
.books{
    margin-top: 5%;
}
.last-release{
    margin-top:5%;
}
h2{
   
    padding: 20px;

}

.recent_books{
    display: inline-block;
    margin: 5px;
    background-color: aquamarine;
}
.derniers-livres{
    display: inline-block;
    
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
 
}
.derniers-livres:hover{
    transform: scale(0.8);
}



.aimeParNous {
    display: inline-block;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;

}

.aimeParNous:hover{
    transform: scale(0.8);
}


span.info-livre{
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    overflow-wrap: break-word;
    text-transform: uppercase;
    color: brown;
}



.nav-auth{
    margin-left: auto;
    margin-right: 30px;
}

.sign-btns button{
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: brown;
    color: whitesmoke;
}