#page-container {
    margin-left: 10%;
}
img {
    margin-right: 10%;
}

.book h1{
    
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;

}

.book h3{
    margin: 0 ;
}
.book img {
    width: 200px;
    height: 300px;
    margin-top: 10%;
  }
  
.book {
    
    display: flex;
}

.info-books{
    margin-top: 10%;
    
    
}
/* Rating */
.star{
    font-size: 1.5rem;
}

.rating {
    border: none;
    
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;

  }
  
  .rating > input {
    display: none;
  }
  
  .rating > label:before {
    margin: 5px;
    font-size: 1.5em;
    font-family: FontAwesome;
    content: "\f005";
  }
  
  .rating > input:checked ~ label:before {
    color: #ffcc00;
  }
  
 form input#comment{
    height: 100px;
    
    width: 210px;
 }

 form input#publier{
    width:100px;
    margin-top: 5px;
    
 }

 form{
    display: flex;
    flex-direction: column;
 }




/* avis */


p.succes_message{
    
    color:green;
   
}
p.message_error{
    color: red;
}

.comment h3,
.comment span {
        display: inline;
        margin-right: 10px;
}

.comment p {
    margin: 0;
}

.comment{
    padding: 15px;
}

input[type='submit']{
    padding: 10px;
    border:none;
    border-radius: 5px;
    color: #fff;
    background-color: #007BFF;
}
.info-books p{
    margin : 0;
}




