

.book h1{
    
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;

}

.book h3{
    margin: 0 ;
}
.book img {
    width: 200px;
    height: 300px;
    margin-top: 10%;
  }
  
.book {
    margin-left: 10%;
    display: flex;
}

.info-books{
    margin-left: 10%;
    margin-top: 10%;
    
    
}
/* Rating */


.rating{
    width:210px;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    line-height: 1; 
    margin-left: 10%;
 }
 
 .rating span{
     white-space: nowrap;
     width: 100%;
 }
 
 .rating span.active{
     position: absolute;
     left: 0;
     top:0;
     overflow: hidden;
     color: yellow;
     width: 0;
     transition: all 0.3s ease-out;
 }
   
 .rating input{
     position: absolute;
     width:20%;
     height: 100%;
     z-index: 10;
     opacity: 0;
 }
 
 .rating input:nth-child(1){left :0}
 .rating input:checked:nth-child(1) ~ span.active{width: 20%;}
 
 .rating input:nth-child(2){left :20%}
 .rating input:checked:nth-child(2) ~ span.active{width: 40%;}
 
 .rating input:nth-child(3){left :40%}
 .rating input:checked:nth-child(3) ~ span.active{width: 60%;}
 .rating input:nth-child(4){left :60%}
 .rating input:checked:nth-child(4) ~ span.active{width: 80%;}
 
 .rating input:nth-child(5){left :80%}
 .rating input:checked:nth-child(5) ~ span.active{width: 100%;}
 
 form input#comment{
    height: 100px;
    margin-left: 10%;
    width: 210px;
 }

 form input#post{
    width:100px;
    margin-top: 5px;
    margin-left: 10%;
 }

 form{
    display: flex;
    flex-direction: column;
 }




/* avis */
.avis {
    margin-left: 10%;
}








