body{
    background-color: #EBE7D4;
    color: #AC7E3F;
    margin: 0;
}

h1{
    display: flex;
    justify-content: center;
    border: 2px solid brown;
    margin-top: 20px;
    margin-left : 20%;
    margin-right: 20%;
    padding: 20px;

}

header{
    background-color: #FDF9E5;
    height: 50px;
    display: flex;
    justify-content: space-between; /* Espacer les éléments au maximum */
    align-items: center; /* Aligner les éléments verticalement au centre */

}

.connection{
    background-color: #FDF9E5;
    display: flex;
    width: 20%;
    justify-content: center;
    
}
.connection input{
display: inline-block;
  background-color: brown;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 100px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.all-books{
    display: inline-block;
    margin: 5px;
}

nav.top-bar {
    display: flex;
    justify-content: center; /* Aligner les éléments horizontalement au centre */
    align-items: center; /* Aligner les éléments verticalement au centre */
    width: 80%;
  }
  
  nav.top-bar ul {
    list-style: none; /* Enlever les puces des listes */
    display: flex; /* Activer le mode flexbox pour les éléments de la liste */
  }
  
  nav.top-bar li {
    margin: 0 10px; /* Ajouter de l'espace entre les éléments de la liste */
  }