body{
    background-color: #EBE7D4;
    color : brown;
    margin: 0;
    font-family: 'EB Garamond', serif;
}

h1{
    display: flex;
    justify-content: center;
    border: 2px solid brown;
    margin-top: 80px;
    margin-left : 20%;
    margin-right: 20%;
    padding: 20px;

}

/* Navbar */

nav {
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #FDF9E5;
    box-shadow: inset 0px -1px 0px #c5c5c6;
}

.main-navlinks a{
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: brown;
    display: inline-block;
    position: relative;
}

.main-navlinks a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: brown;
    transition: transform 0.3s ease-out;
}

.main-navlinks a:hover::after{
    transform: scaleX(1);
}

.genres-dropdown {
    display: none;
    position: absolute;
    background-color: #FDF9E5;
    padding: 10px;
    margin-top: 5px;
    list-style: none; /* supprime les puces */
}
  

.dropdown-container {
    display: inline-block;
    position: relative;
  }

.dropdown-container:hover .genres-dropdown {
    display: block;
}


  
 /* Nav Bar */



.nav-auth{
    margin-left: auto;
    margin-right: 30px;
}

.sign-btns button{
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: brown;
    color: whitesmoke;
}



.all-books{
    display: inline-block;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
 
}



.all-books:hover{
    transform: scale(1.5);
}




.all-books span{
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    overflow-wrap: break-word;
    text-transform: uppercase;
    color: brown;
}

